<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Best Bootstrap Admin Dashboards">
    <meta name="author" content="Bootstrap Gallery"/>
    <link rel="canonical" href="https://www.bootstrap.gallery/">
    <meta property="og:url" content="https://www.bootstrap.gallery">
    <meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
    <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="Bootstrap Gallery">
    <link rel="shortcut icon" href="/images/favicon.svg">

    <!-- Title -->
    <title>Bootstrap Admin Dashboards</title>


    <!-- *************
        ************ Common Css Files *************
    ************ -->
    <!-- Animated css -->
    <link rel="stylesheet" href="/css/animate.css">

    <!-- Bootstrap font icons css -->
    <link rel="stylesheet" href="/fonts/bootstrap/bootstrap-icons.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/main.min.css">


    <!-- *************
        ************ Vendor Css Files *************
    ************ -->

    <!-- Scrollbar CSS -->
    <link rel="stylesheet" href="/vendor/overlay-scroll/OverlayScrollbars.min.css">

    <!-- Data Tables -->
    <link rel="stylesheet" href="/vendor/datatables/dataTables.bs5.css"/>
    <link rel="stylesheet" href="/vendor/datatables/dataTables.bs5-custom.css"/>

</head>

<body>

<!-- Loading wrapper start -->
<!-- <div id="loading-wrapper">
    <div class="spinner">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
        <div class="line4"></div>
        <div class="line5"></div>
        <div class="line6"></div>
    </div>
</div> -->
<!-- Loading wrapper end -->

<!-- Page wrapper start -->
<div class="page-wrapper">

    <!-- Sidebar wrapper start -->
    <nav class="sidebar-wrapper">

        <!-- Sidebar brand starts -->
        <div class="sidebar-brand">
            <a href="../index.html" class="logo">
                <img src="/images/logo.svg" alt="Admin Dashboards"/>
            </a>
        </div>
        <!-- Sidebar brand starts -->

        <!-- Sidebar menu starts -->
        <div class="sidebar-menu">
            <div class="sidebarMenuScroll">
                <ul>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="bi bi-house"></i>
                            <span class="menu-text">Dashboards</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="../index.html">Analytics</a>
                                </li>
                                <li>
                                    <a href="reports.html">Reports</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="/users-table">
                            <i class="bi bi-people"></i>
                            <span class="menu-text">Users</span>
                        </a>
                    </li>
                    <li>
                        <a href="/accounts-table">
                            <i class="bi bi-person-square"></i>
                            <span class="menu-text">Accounts</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="bi bi-bank"></i>
                            <span class="menu-text">Master</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="accordions.html">States</a>
                                </li>
                                <li>
                                    <a href="alerts.html">Districts</a>
                                </li>
                                <li>
                                    <a href="buttons.html">Cities</a>
                                </li>
                                <li>
                                    <a href="badges.html">Branches</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Sidebar menu ends -->

    </nav>
    <!-- Sidebar wrapper end -->

    <!-- *************
        ************ Main container start *************
    ************* -->
    <div class="main-container">

        <!-- Page header starts -->
        <div class="page-header">

            <div class="toggle-sidebar" id="toggle-sidebar"><i class="bi bi-list"></i></div>

            <!-- Breadcrumb start -->
            <ol class="breadcrumb d-md-flex d-none">
                <li class="breadcrumb-item">
                    <i class="bi bi-house"></i>
                    <a href="../index.html">Home</a>
                </li>
                <li class="breadcrumb-item">Accounts</li>
            </ol>
            <!-- Breadcrumb end -->

            <!-- Header actions ccontainer start -->
            <div class="header-actions-container">

                <!-- Search container start -->
                <div class="search-container">

                    <!-- Search input group start -->
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search anything">
                        <button class="btn" type="button">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                    <!-- Search input group end -->

                </div>
                <!-- Search container end -->

                <!-- Leads start -->
                <a href="orders.html" class="leads d-none d-xl-flex">
                    <div class="lead-details">You have <span class="count"> 21 </span> new leads</div>
                    <span class="lead-icon"><i
                            class="bi bi-bell-fill animate__animated animate__swing animate__infinite infinite"></i><b
                            class="dot animate__animated animate__heartBeat animate__infinite"></b></span>
                </a>
                <!-- Leads end -->

                <!-- Header actions start -->
                <ul class="header-actions">
                    <li class="dropdown d-none d-md-block">
                        <a href="#" id="countries" data-toggle="dropdown" aria-haspopup="true">
                            <img src="/images/flags/1x1/br.svg" class="flag-img" alt="Admin Panels"/>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end mini" aria-labelledby="countries">
                            <div class="country-container">
                                <a href="../index.html">
                                    <img src="/images/flags/1x1/us.svg" alt="Clean Admin Dashboards"/>
                                </a>
                                <a href="../index.html">
                                    <img src="/images/flags/1x1/in.svg" alt="Google Dashboards"/>
                                </a>
                                <a href="../index.html">
                                    <img src="/images/flags/1x1/gb.svg" alt="AI Admin Dashboards"/>
                                </a>
                                <a href="../index.html">
                                    <img src="/images/flags/1x1/tr.svg" alt="Modern Dashboards"/>
                                </a>
                                <a href="../index.html">
                                    <img src="/images/flags/1x1/ca.svg" alt="Best Admin Dashboards"/>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
                            <span class="user-name d-none d-md-block">Abigale Heaney</span>
                            <span class="avatar">
										<img src="/images/user.png" alt="Admin Templates">
										<span class="status online"></span>
									</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userSettings">
                            <div class="header-profile-actions">
                                <a href="profile.html">Profile</a>
                                <a href="account-settings.html">Settings</a>
                                <a href="login.html">Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- Header actions end -->

            </div>
            <!-- Header actions ccontainer end -->

        </div>
        <!-- Page header ends -->

        <!-- Content wrapper scroll start -->
        <div class="content-wrapper-scroll">
`
            <!-- Content wrapper start -->
            <div class="content-wrapper">

                <!-- Row start -->
                <div class="row">
                    <div class="col-sm-12 col-12">

                        <!-- Card start -->
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Accounts</div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="verticalScrollApiCallbacks" class="table custom-table">
                                        <thead>
                                            <tr>
                                                <th>Account Number</th>
                                                <th>Username</th>`
                                                <th>Type</th>
                                                <th>Branch</th>
                                                <th>ROI</th>
                                                <th>Balance</th>
                                                <th>Opening Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="account : ${accounts}" th:data-id="${account.accountNumber}">
                                                <td th:text="${account.accountNumber}"></td>
                                                <td th:text="${account.customerUsername}"></td>
                                                <td th:text="${account.type}"></td>
                                                <td th:text="${account.branch}"></td>
                                                <td th:text="${account.rateOfInterest}"></td>
                                                <td th:text="${account.balance}"></td>
                                                <td th:text="${account.openingDate}"></td>
                                                <td id="editButtonCell" style="text-align: right;">
                                                    <button id="editButton" type="button" class="btn btn-primary btn-sm edit-btn"
                                                            th:data-id="${account.accountNumber}"
                                                            style="margin-right: 10px; width: 75px; height: 35px;"  >Edit</button>
                                                </td> <!-- Added column with edit button-->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Card end -->

                    </div>
                </div>
                <!-- Row end -->

            </div>
            <!-- Content wrapper end -->

            <!-- App Footer start -->
            <div class="app-footer">
                <span>© Arise admin 2023</span>
            </div>
            <!-- App footer end -->

        </div>
        <!-- Content wrapper scroll end -->

    </div>
    <!-- *************
        ************ Main container end *************
    ************* -->

</div>
<!-- Page wrapper end -->

<!-- *************
    ************ Required JavaScript Files *************
************* -->

<!-- Required Js for account table-->
<script src="/js/account-table.js"></script>

<!-- Required jQuery first, then Bootstrap Bundle JS -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/modernizr.js"></script>
<script src="/js/moment.js"></script>

<!-- *************
    ************ Vendor Js Files *************
************* -->

<!-- Overlay Scroll JS -->
<script src="/vendor/overlay-scroll/jquery.overlayScrollbars.min.js"></script>
<script src="/vendor/overlay-scroll/custom-scrollbar.js"></script>

<!-- Data Tables -->
<script src="/vendor/datatables/dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap.min.js"></script>

<!-- Custom Data tables -->
<script src="/vendor/datatables/custom/custom-datatables.js"></script>

<!-- Main Js Required -->
<script src="/js/main.js"></script>

</body>

</html>